<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.nick.systemrecapi"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />

    <permission
        android:name="dev.nick.app.permission.BIND_REC_BRIDGE_SERVICE"
        android:label="@string/app_name" />

    <application
        android:name="dev.nick.library.RecBridgeApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" />

</manifest>